.bg-secondary {
    background-color: #101b1f !important;
}

.copyright {
    background-color: #1a252f;
}

.bg-primary {
    background-color: #d07814 !important;
}

.btn-success {
    background-color: #889a2b !important;
}

.border-primary{
    border-color: #d07814 !important;;
}

nav {
    font-weight: 700;
}

#logo {
    height: 100px;
    margin-right: 10px;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

/* banner height */
.carousel-item {
    height: 66.67vh;
    /* 2/3 of the viewport height */
}

/* banner picture */
.carousel-item img {
    height: 100%;
    /* Make the image cover the full height of the container */
    width: auto;
    /* Adjust width to maintain aspect ratio */
    object-fit: cover;
    /* Cover the container without losing the aspect ratio */
}

.form-control:focus {
    border-color: #d07814; /* Change to your desired color */
    box-shadow: 0 0 0 0.15rem #d07814; /* Optional: Adjust RGBA values to match the color */
}

.forgot-password-btn{
    color: #d07814;
}

#about-image{
    width: 100%;
}